**/*.DS_Store
target
.idea

scripts/logs
scripts/*.local.sh
scripts/**/*.local.sh
scripts/**/package-lock.json

node_modules

generated

metadata.scale
*.dep.txt
*.log

package-lock.json
yarn.lock
dist
build
.cache
